/* linktree.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

header {
  background-color: #2ecc71;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

header h1 {
  margin: 0;
  font-size: 36px;
}

main {
  padding: 20px;
}

.social-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.social-links li {
  display: inline-block;
  margin: 10px;
  text-align: center; /* Center align the image and name */
}

.social-links a {
  display: inline-block;
  text-decoration: none;
  border-radius: 50%;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.social-links a:hover {
  transform: scale(1.2);
}

.social-links img {
  width: 80px; /* Reduce the width of the images */
  height: 80px; /* Reduce the height of the images */
  border-radius: 50%; /* Makes the image circular */
  display: block; /* Ensures the border-radius works properly */
  margin: 0 auto; /* Centers the image horizontally */
}

.social-links p {
  margin-top: 5px; /* Space between the image and the name */
  font-size: 14px;
  color: #333;
}

footer {
  background-color: #2ecc71;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

footer p {
  margin: 0;
}

@media (max-width: 600px) {
  header h1 {
    font-size: 28px;
  }

  .social-links img {
    width: 80px; /* Reduce the width of the images */
    height: 80px; /* Reduce the height of the images */
  }
}
